---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Homepage">
	<div class="prose mx-auto">
		<h1 class="text-4xl" >This is a heading</h1>
	<h2 class="text-2xl text-gray-400">Subheading</h2>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus recusandae dolorem nemo aliquam ratione. Ipsa reprehenderit quidem laborum molestiae impedit. Eveniet facilis sequi illo sapiente nemo sunt cumque saepe voluptatum!</p>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet perspiciatis voluptatem labore corrupti, atque, nisi, nemo assumenda praesentium nobis facilis dicta. Expedita esse, aliquid, natus eligendi optio rem nulla cupiditate veniam illo exercitationem rerum soluta? Sunt fugit aperiam dolorem reprehenderit iure. Maiores omnis blanditiis quis saepe iste nulla laboriosam optio quod fugit sint in nemo molestias, recusandae officiis magni soluta placeat unde laborum? Nihil, illum labore inventore consectetur dolore accusamus atque reprehenderit. Consequuntur officiis vero sed nam eius numquam praesentium labore, inventore dolore suscipit, magni nisi hic eligendi voluptate quis similique dolorem, ipsa nobis cumque quos vitae beatae iure? Praesentium!</p>
	</div>
</BaseLayout>