---
// src/layouts/BaseLayout.astro
const {title} = Astro.props;
---
<html>
  <head>
    <title>Example Layout: {title}</title>
     <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
  </head>
  <body>
    <!-- Adds a navigation bar to every page. -->
    <nav class="container my-4">
      <a href="#">Home</a>
      <a href="#">Posts</a>
      <a href="#">Contact</a>
    </nav>
    <!-- slot: your page content will be injected here. -->
    <main class="container">
        <slot />
    </main>
    <!-- Footer -->
    <footer class="container my-4 flex justify-between">
        <div>&copy; 2021 Dummy</div>
        <div><a href="#">Contact</a></div>
    </footer>
  </body>
</html>